/* Container Styles */
.login-page {
    margin-top: 20px;
    display: flex;
    height: 90vh;
    font-family: Arial, sans-serif;
    max-width: 1400px;
    margin: auto;
    padding: 20px 50px; 
}

.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container takes the full height of its parent */
}

.login-image {
  max-width: 100%;
  height: auto;
}

.input-field::placeholder {
    font-size: 14px; 
    color: #888; 
}
.login-image {
    width: 600px !important; 
    height: auto; 
    padding: auto;
    object-fit: cover; 
    max-width: 100%; 
}
/* Right Side - Login Form Container */
.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.brand-name {
    color: #1E2772;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    padding: 20px;
    text-align: center;
    margin-top: 20px; 
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
/* Label Styles */
.login-form label {
    font-weight: semi-bold;
    display: block;
    font-size: 15px;
    color: #1e267261;
    
}


.divider {
    margin: 20px 0;
    text-align: center;
    width: 100%;
    color: #888;
}

/* Form Styles */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
}

.input-group {
    position: relative;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.form-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

button[type="submit"].login-btn {
    background-color: #1E2772;
    color: white;
    padding: 10px;
    align-self: center;
    width: 300px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color:#1e26724c;
    color: #1E2772;
    border: 2px solid #1E2772;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"].button-bordered {
    grid-column: 1 / span 2;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    background-color: white;
    color: #1E2772;
    border: 2px solid #1E2772;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"].button-bordered:hover {
    background-color: #1E2772;
    color: white;
}

.register-link {
    color: #666;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 10px;
}

.register-link a {
    color: #1e2672b1;
    text-decoration: none;
    font-weight: bold;
}
