/* Navbar Styles */
.navbar {
    display: flex;
    font-size: 13px;
    font-weight: 800;
    justify-content: flex-end; /* Align items to the right */
    align-items: flex-start; /* Align items to the top */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-links-container {
    display: flex;
    gap: 20px; /* Space between links */
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    background-color: #33333316;
    color: white;
  }
  