body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37, 27, 31);
  color: #E0E0E0; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #1E1E1E; 
  color: #E0E0E0; 
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 20px;
  color: #E0E0E0; 
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(20, 15, 17);
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  width: 500px;
  max-width: 600px;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.5); 
}

.container h1 {
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #E0E0E0; 
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div input {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  flex-direction: column;
}

.center-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  font-weight: 600;
  font-size: 15px;
  justify-content: center;
  margin-top: 1em;
  color: #E0E0E0; 
}

.container input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E0E0E0; 
  color: #221717df; 
}

.container input::placeholder {
  font-size: 18px;
  color: #251a1a7e; 
}

.error {
  color: red;
  font-size: 0.875em;
  font-weight: 600;
  margin-top: 0.25em;
  text-align: right;
}

button {
  padding: 10px;
  font-size: 20px;
  background-color: palevioletred; 
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  width: 150px; 
}
.welcome-message {
    font-size: 24px; 
    font-weight: 400px; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  .button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }

 
.home-container {  
    width: 700px;
    height: 400px;
    background-color: #FFFFFF; 
    color: rgb(20, 15, 17);
  }
  
  .home-container h1,
  .home-container p,
  .home-container div,
  .home-container button {
    color: rgb(20, 15, 17);
    font-weight: 600px; 
  }